name: live_face
description: Live Face 模块

publish_to: "none"

version: 1.0.0

environment:
  sdk: ^3.7.0
  flutter: 3.35.1

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
